@font-face {
  font-family: 'Berkeley';
  src:  url('fonts/BerkeleyMono-Regular.woff2') format('woff2'),
        url('fonts/BerkeleyMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley';
  src:  url('fonts/BerkeleyMono-Bold.woff2') format('woff2'),
        url('fonts/BerkeleyMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --mono-font: 'Berkeley', monospace;
  --sans-font: 'Public Sans', system-ui, sans-serif;
}
