{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{.Content}}
    <br />

    {{ range (.Site.RegularPages.GroupByDate "2006").Reverse }}
        {{ if (where .Pages "Section" "posts") }}
            <h2>{{ .Key }}</h2>
            <ul>
                {{ range $index, $post := (where .Pages "Section" "posts") }}
                    <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    {{ end }}

    <hr />
  <h2>By Category</h2>

  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ if eq "categories" $taxonomyname }}
      {{ range $key, $value := $taxonomy }}
        <b>{{ title $key }}</b>
        <ul>
        {{ range $value.Pages }}
          <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></li>
        {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  {{ end }}
    <br />
</div>
{{ end }}
